<div class="projects row">
    <div class="col-5" layout="column" layout-align="space-between center">
        <div class="inputs-block">
            <input class="project-inputs" type="text" ng-model="pc.project.projectName">
            <input class="project-inputs" type="text" ng-model="pc.project.trelloLink">
        </div>

        <button class="remove-project-button">Delete project</button>


    </div>
    <div class="col-7" layout="column" layout-align="start center">
        <div class="project-logo">

            <img class="logo-image" src="">

        </div>
        <div class="inputs-block">

            <div class="box">
                <input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
                <label for="file-7">
                </label>
            </div>

        </div>
        <button class="save-logo-button">
            Save
        </button>

    </div>

</div>