<div class="container">
    <div class="row main-window">
        <div class="col-3 right-block">
            <div class="right-menu">
                <ul>
                    <li ng-repeat="project in pa.projects" layout="row" layout-align="space-between center">
                        <button>
                            <a ng-click="pa.selectProject(project)">{{project.projectName}}</a>
                            <div class="chekbox" ng-if="showCheckBoxes">
                                <md-checkbox ng-model="project.checked">

                                </md-checkbox>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <ui-view></ui-view>
        </div>

    </div>

</div>

