<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script >
    window.$ = window.jQuery = require('../bower_components/jquery/dist/jquery.min.js');

</script>
<script src="../js/loginPage/login.js"></script>
<body>

<input type="email" placeholder="email" id="email">
<input type="password" placeholder="password" id="password">
<button id="login"> sign in </button>
<script>

//    window.localStorage.setItem('user','ffffffffcccccc')
//    var loginButton = $('#login');npm start
//
//    loginButton.on('click', function (  ) {
//        var email = $('#email').val();
//        var password = $('#password').val();
//
//        console.log( email, password )
//
//    })

</script>

</body>
</html>